*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:10px 10px 0;
}

.bold{
    font-weight: bold;
}

.flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.center{
    text-align: center;
}

/* Header */

.background-blue{
    background: #153462;
    height: 120px;
}

.background-white{
    background: white;
    border:1px solid orangered;
    /* text-align: center; */
    height: 60px;
    width: 26%;
}

.bold-heading{
    font-size: 30px;
    margin: 5px 0;
}

.bold-content{
    font-size:13px;
    margin-bottom: -4px;
}

@media (max-width:680px)
{
    .bold-heading{
        font-size: 20px;
    }

    .bold-content{
        font-size:10px;
    }
}

@media (max-width:480px){
    .bold-heading{
        font-size: 15px;
    }
}

/* Center-Part */

.center-part{
    align-self: center;
    padding-top:30px;
    width:100%;
}

.all-news{
    font-size:40px;
    font-weight: bold;
    flex-basis: 33.33%;
}

/* Section-1 */

.section-1{
    border-bottom: 2px solid black;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

.select-catogory,.enter-email{
    flex-basis: 33.33%;
}

/* Left-Part */

.select-option{
    border: solid 2px rgb(64 60 67 / 32%);
    border-radius: 2px;
    width:120px;
}

.select-catogory{
    padding:25px 0 0 25px;
}

/* Right-Part */

.content{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 4px;
}

.enter-email{
    padding:25px 0 0 0;
}

.email-data{
    border-radius: 3px;
    border:none 1px;
    box-shadow: 2px 1px 0px 1px rgb(64 60 67 / 16%);
    height:28px;
}

.black-button{
    background-color: black;
    border-width: 1px 0 0 2px;
    border-color: grey;
    color:white;
    display: inline;
    margin-left:3px;
    padding:3px;
}

@media (max-width:800px){
    .section-1{
        display: block;
    }

    .enter-email{
        margin-left:20px;
    }
}

/* Section-2 */

.block{
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid grey;
}

.image-width{
    width:200px;
}

.content-part{
    max-width:80%;
}

.content-title{
    color:#00337C;
    font-size:26px;
    margin-top:10px;
}

.posted-on{
    margin:10px 0;
    font-weight: normal;
}

.continue-reading{
    background-color: orangered;
    box-shadow: 2px 1px 1px 1px rgb(64 60 67 / 30%);
    color:white;
    display: inline-block;
    margin-top:17px;
    padding:8px;
}

.no-border{
    border:none;
    padding-bottom: 0;
}

/* Footer */

footer{
    background: #153462;
    color:white;
}

.color-blue{
    background-color: #6a91c0;
    width: 124px;
}